.hide-mobile{
    display: none;
}


body{
    background-color: #FFFBF3;
    margin: 0;
    font-family:'inter';
}
.wrap{
    margin: 2em;
}
header{
    display: flex;
    justify-content: space-between;
    
}
nav ul{
    background: white;
    position:fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 40%;
    text-align: right;
    padding: 2em;
    transform:translateX(100%);
    transition: transform 0.5s ease-in-out;
    
    li{
        margin:2em 0;
        &:nth-of-type(1) {
                margin-bottom: 4em;
            }
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 1.5em;
            &:hover{
                color: #76240b;
                text-decoration: underline;
            }
        }
    }
}
.open{
    transform: translateX(0%);
}
h1,p{
    text-align: center;
}
h1{
    margin-bottom: 3em;
    img{
        display: block;
        margin: 0 auto;
    }
}
p{
    line-height: 1.5;
    font-size: 1.2em;
}
a.primary-cta{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    background: #76240b;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: .3em;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    margin-top: 3em;
}
.cat{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 3em;
    img{
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
        .inner-circle, .outer-circle{
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .inner-circle{
            width: 300px;
            height: 300px;
            background: rgba(118, 36, 11, 0.2);
            z-index: -1;
        }
        .outer-circle{
            background: white;
            width: 500px;
            height: 500px;
            z-index: -2;
        }
}
@media (min-width:798px){
.wrap{
    margin:0 4em;
}
.hide-desktop{
    display: none;
}
.hide-mobile{
    display: block;
}
.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    .divider{
        width: 1px;
        height: 50px;
        border-right: 1px solid gray;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 1.2em;
    }
}
nav ul {
    position: unset;
    background: none;
    display: flex;
    height: auto;
    width: auto;
    transform: translateX(0%);
    gap: 2em;
    li a{
        font-size: 1.2em;
    }
}
}
@media(min-width:950px){
    h1,p{
        text-align: left;
    }
    h1 img{
        margin: 0;
    }
    main{
        width: 50%;
    }
    .cat{
        margin-top: 0;
        .inner-circle{
            width: 500px;
            height: 500px;
        }
        .outer-circle{
            width: 1000px;
            height: 1000px;
        }
    }   
    .cat-container{
        position: absolute;
        z-index: -1;
        right: 0;
        top:20%;
        width: 50%;
    }
}
@media(min-width:1200px){
    .wrap{
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 2em;
    }
    a.primary-cta{
        width: auto;
        display: inline-block;
        padding: 1em 2em;
    }
    .cat{   
       position: relative;
       img{
        max-width: 400px;
        left: 50%;
       }
    }
}